@model CoreWork.Northwind.MvcWebUI.Models.ProductListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Product List</h2>
<a class="btn btn-xs btn-success" asp-controller="Admin" asp-action="Insert">Add a new product</a>
<table class="table table-responsive">
    <tr>
        <td>Product Name</td>
        <td>Unit Price</td>
        <td>Units In Stock</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model.Products)
    {
    <tr>
        <td>@item.ProductName</td>
        <td>@item.UnitPrice ₺</td>
        <td>@item.UnitsInStock</td>
        <td><a class="btn btn-xs btn-info" asp-controller="Admin" asp-action="Update" asp-route-productId="@item.ProductId">Update</a></td>
        <td><a class="btn btn-xs btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-productId="@item.ProductId">Delete</a></td>

    </tr>
    }
</table>

